#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color: hsl(350, 20%, 90%); */
}

ul li {
  padding: 0 5px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:link {
  color: hsl(350, 40%, 70%);
  background-color: hsl(350, 40%, 30%);
}

a:visited {
  color: hsl(340, 40%, 70%);
  background-color: hsl(340, 40%, 30%);
}

a:hover {
  background-color: hsl(290, 40%, 70%);
  color: hsl(290, 40%, 30%);
}

a:active {
  background-color: hsl(200, 40%, 70%);
  color: hsl(200, 40%, 30%);
}
